# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
+ List popular languages for Data Science
+ List popular Data Science libraries
+ List populat Data Science tools
+ Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| Spyder | 
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Gianni Francis